# folder
.DS_Store
.idea
/gaze_dataset
.vscode
__pycache__
Extracted_HOFeatures
Extracted_HOFeatures_test
gaze_preprocessing/extracted_gaze
get_images_from_video/images
gaze_video
Frames
GazeFeatures/cropped_frames
GazeFeatures/padded_frames