# folder
.DS_Store
.idea
/gaze_dataset
.vscode
__pycache__
Extracted_HOFeatures
Extracted_Features_224
Extracted_HOFeatures_train
gaze_preprocessing/extracted_gaze
get_images_from_video/images
gaze_video
Frames_224
Frames2
Frames3
GazeFeatures/cropped_frames
GazeFeatures/cropped_frames2
GazeFeatures/padded_frames
Video_Swin_Transformer
transformer/train_result